.lcly-location-switcher-input::-ms-expand {
    background-color: transparent;
    border: 0
}

.catalogsearch-result-index #algolia_instant_selector #instant-search-bar:focus, .customer-account-changeforgotten #form-validate .input-text:focus, .form-control:focus, .form-item input:focus, .form-item textarea:focus, .mesh .input-box input:focus[type=password], .mesh .input-box input:focus[type=text], .product-infos__store-container .lcly-location-switcher-input:focus, .rma-customer-new .qty input:focus, .rma-customer-new .reason input:focus[type=text], .store-livechat__container .lcly-location-switcher-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #4d4d4d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.catalogsearch-result-index #algolia_instant_selector #instant-search-bar::-webkit-input-placeholder, .customer-account-changeforgotten #form-validate .input-text::-webkit-input-placeholder, .form-control::-webkit-input-placeholder, .form-item input::-webkit-input-placeholder, .form-item textarea::-webkit-input-placeholder, .mesh .input-box input[type=password]::-webkit-input-placeholder, .mesh .input-box input[type=text]::-webkit-input-placeholder, .product-infos__store-container .lcly-location-switcher-input::-webkit-input-placeholder, .rma-customer-new .qty input::-webkit-input-placeholder, .rma-customer-new .reason input[type=text]::-webkit-input-placeholder, .store-livechat__container .lcly-location-switcher-input::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.catalogsearch-result-index #algolia_instant_selector #instant-search-bar::-ms-input-placeholder, .customer-account-changeforgotten #form-validate .input-text::-ms-input-placeholder, .form-control::-ms-input-placeholder, .form-item input::-ms-input-placeholder, .form-item textarea::-ms-input-placeholder, .mesh .input-box input[type=password]::-ms-input-placeholder, .mesh .input-box input[type=text]::-ms-input-placeholder, .product-infos__store-container .lcly-location-switcher-input::-ms-input-placeholder, .rma-customer-new .qty input::-ms-input-placeholder, .rma-customer-new .reason input[type=text]::-ms-input-placeholder, .store-livechat__container .lcly-location-switcher-input::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.catalogsearch-result-index #algolia_instant_selector #instant-search-bar::placeholder, .customer-account-changeforgotten #form-validate .input-text::placeholder, .form-control::placeholder, .form-item input::placeholder, .form-item textarea::placeholder, .mesh .input-box input[type=password]::placeholder, .mesh .input-box input[type=text]::placeholder, .product-infos__store-container .lcly-location-switcher-input::placeholder, .rma-customer-new .qty input::placeholder, .rma-customer-new .reason input[type=text]::placeholder, .store-livechat__container .lcly-location-switcher-input::placeholder {
    color: #6c757d;
    opacity: 1
}